<div ng-controller="feedController as jobs"
	ng-init="jobs.getSchedules(); jobs.getAllIntelligences(); showHomeButton= true">
	<div id="page-content">
		<div class="row">
			<div class="col-sm-10">
				<div class="row">
					<div id="page-head">
						<div id="page-title">
							<h1 class="page-header text-overflow">Manage Feeds</h1>
						</div>
						<ul class="breadcrumb" ng-show="showHomeButton">
							<li><a href="/configuration#!">Home</a></li>
							<li class="active">Feeds</li>

						</ul>
						<ul class="breadcrumb" ng-show="showWatchEventButton">
							<li><a href="/configuration#!">Home</a></li>
							<li><a href="javascript:void('0')"
								ng-click='jobs.backToAnalyzers()'>Feeds</a></li>
							<li class="active">watch</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-sm-2 pull-right">
				<div class="row" style="padding-top: 20px;">
					<div id="page-head">
						<div id="page-title">
							<button ng-click="jobs.openNewFeedForm()"
								class="btn btn-dark pull-right">
								<i class="md md-add"></i>Configure Feed
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<hr />


		<script type="text/ng-template" id="alert.html">
        <div ng-transclude></div>
    </script>
		<div uib-alert ng-repeat="alert in rule.ruleAlertMessagaes"
			class="alert" ng-class="'alert-' + (alert.type || 'warning')"
			close="closeAlert($index)">{{alert.msg}}</div>

		<div ng-include src="templateUrl" onload='myFunction()'></div>

		<script type="text/ng-template" id="feeds.html">
       
	<div class="row">
			<div class="panel panel-table" ng-init="rule.showButtons=false">
					    <div class="panel-body">
					        <div class="table-responsive">
                <table class="table table-striped  dataTable no-footer dtr-inline" datatable="ng" dt-options="vm.dtOptions" dt-instance="vm.dtInstance"  width="100%" dt-column-defs="vm.dtColumnDefs">
                    <thead>
                        <tr>
                            <th class="col-sm-1">Id</th>
                            <th class="col-sm-2">Feed Name</th>
                            <th class="col-sm-2">Feed Intelligence</th>
                            <th class="col-sm-1">Status</th>
                            <th class="col-sm-2">Trust Score</th>
                            <th class="col-sm-2">Feed Schedule</th>
                            <th class="col-sm-1 text-center">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="data in jobs.allFeeds">
                            <td>{{data.id}}</td>
                            <td>{{data.feedName}}</td>
                            <td>{{data.feedCoreIntelligence}}</td>
                            <td>{{data.feedSchedulerStatus}}</td>
                            <td>{{data.feedTrustScore}}</td>
                            <td>{{data.feedScheduler}}</td>
                            <td class="text-center">
<div class="dropdown">
	<button class="dropdown-toggle btn btn-default btn-active-primary" data-toggle="dropdown" aria-expanded="false"><i class="demo-psi-dot-vertical"></i></button>
	<ul class="dropdown-menu dropdown-menu-right">
    	<li><a href="javascript:void('0')" ng-click='jobs.editFeed(data.id)'> Edit</a></li>
		<li><a href="javascript:void('0')" ng-click='jobs.deleteFeed(data.id)'> Delete</a></li>
	</ul>
</div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
</div> </div>
</div>
    </script>

		<!--  modal to create new analyzer -->
		<div id="createFeed" class="modal fade" tabindex="-1" role="dialog"
			aria-labelledby="myModalLabel" aria-hidden="true"
			style="display: none; padding-left: 0px;">

			<div class="modal-dialog modal-lg">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">
							<i class="pci-cross pci-circle"></i>
						</button>
						<h4 class="modal-title" id="myLargeModalLabel">New Feed</h4>
					</div>
					<form class="form-horizontal group-border-dashed"
						ng-submit="jobs.scheduleFeed()" name="feed">
						<div class="modal-body">
							<div class="panel panel-flat">
								<div class="panel-body">
									<div uib-alert ng-repeat="alert in jobs.alertMessages"
										class="alert" ng-class="'alert-' + (alert.type || 'warning')"
										close="closeAlert($index)">{{alert.msg}}</div>
									<div class="form-group">
										<label class="col-sm-3 control-label">Feed Name <span
											class="text-danger">*</span></label>
										<div class="col-sm-6">
											<input type="text" class="form-control" title="Enter Feed name"
												placeholder="" ng-model="jobs.newFeed.feedName" ng-class="(jobs.newFeed.feedName=='' || jobs.newFeed.feedName == undefined) && feed.$submitted ? 'border-danger' : ''">
											<div class="text-danger text-bold help-block with-errors" ng-show="(jobs.newFeed.feedName=='' || jobs.newFeed.feedName == undefined) && feed.$submitted">Feed name is mandatory</div>	
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-3 control-label">Intelligence
											Type <span class="text-danger">*</span>
										</label>
										<div class="col-sm-6">
											<select class="form-control" title="Select Intelligence type"
												ng-model="jobs.newFeed.feedCoreIntelligence" ng-class="(jobs.newFeed.feedCoreIntelligence =='' || jobs.newFeed.feedCoreIntelligence == undefined) && feed.$submitted ? 'border-danger' : ''">
												<option ng-repeat="data in jobs.allIntelligences"
													value="{{data.intelligenceType}}">{{data.intelligenceType}}</option>
											</select>
											<div class="text-danger text-bold help-block with-errors" ng-show="(jobs.newFeed.feedCoreIntelligence =='' || jobs.newFeed.feedCoreIntelligence == undefined) && feed.$submitted">Intelligence type is mandatory</div>
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-3 control-label">Feed Trust Score
											<span class="text-danger">*</span>
										</label>
										<div class="col-sm-6">
											<input type="number" class="form-control" tite="Enter Feed trust score"
												placeholder="" ng-model="jobs.newFeed.feedTrustScore">
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-3 control-label">Feed URL <span
											class="text-danger">*</span></label>
										<div class="col-sm-6">
											<input type="text" class="form-control" tite="Enter Feed url"
												placeholder="" ng-model="jobs.newFeed.feedUrl" ng-class="(jobs.newFeed.feedUrl =='' || jobs.newFeed.feedUrl == undefined) && feed.$submitted ? 'border-danger' : ''">
											<div class="text-danger text-bold help-block with-errors" ng-show="(jobs.newFeed.feedUrl =='' || jobs.newFeed.feedUrl == undefined) && feed.$submitted">Feed url is mandatory</div>	
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-3 control-label">Source Name <span
											class="text-danger">*</span></label>
										<div class="col-sm-6">
											<input type="text" class="form-control" tite="Enter Source name"
												placeholder="" ng-model="jobs.newFeed.sourceName" ng-class="(jobs.newFeed.sourceName =='' || jobs.newFeed.sourceName == undefined) && feed.$submitted ? 'border-danger' : ''">
											<div class="text-danger text-bold help-block with-errors" ng-show="(jobs.newFeed.sourceName =='' || jobs.newFeed.sourceName == undefined) && feed.$submitted">Source name is mandatory</div>	
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-3 control-label">Feed Source Type
											<span class="text-danger">*</span>
										</label>
										<div class="col-sm-6">
											<select class="form-control" tite="Select source type"
												ng-model="jobs.newFeed.feedSourceType" ng-class="(jobs.newFeed.feedSourceType =='' || jobs.newFeed.feedSourceType == undefined) && feed.$submitted ? 'border-danger' : ''">
												<option ng-repeat="data in jobs.sourceTypes"
													value="{{data}}">{{data}}</option>
											</select>
											<div class="text-danger text-bold help-block with-errors" ng-show="(jobs.newFeed.feedSourceType =='' || jobs.newFeed.feedSourceType == undefined) && feed.$submitted">Feed source type is mandatory</div>
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-3 control-label">Delimiter <span
											class="text-danger">*</span></label>
										<div class="col-sm-6">
											<input type="text" class="form-control"  tite="Enter Delimiter"
												placeholder="" ng-model="jobs.newFeed.delimiter" ng-class="(jobs.newFeed.delimiter =='' || jobs.newFeed.delimiter == undefined) && feed.$submitted ? 'border-danger' : ''">
											<div class="text-danger text-bold help-block with-errors" ng-show="(jobs.newFeed.delimiter =='' || jobs.newFeed.delimiter == undefined) && feed.$submitted">Delimiter is mandatory</div>	
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-3 control-label">Fields <span
											class="text-danger">*</span></label>
										<div class="col-sm-6">
											<input type="text" class="form-control" tite="Enter Fields"
												placeholder="" ng-model="jobs.newFeed.fields" ng-class="(jobs.newFeed.fields =='' || jobs.newFeed.fields == undefined) && feed.$submitted ? 'border-danger' : ''"> 
											<div class="text-danger text-bold help-block with-errors" ng-show="(jobs.newFeed.fields =='' || jobs.newFeed.fields == undefined) && feed.$submitted">Fields is mandatory</div>	
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-3 control-label">Banner <span
											class="text-danger">*</span></label>
										<div class="col-sm-6">
											<input type="text" class="form-control" title="Enter Banner"
												placeholder="" ng-model="jobs.newFeed.banner" ng-class="(jobs.newFeed.banner =='' || jobs.newFeed.banner == undefined) && feed.$submitted ? 'border-danger' : ''">
											<div class="text-danger text-bold help-block with-errors" ng-show="(jobs.newFeed.banner =='' || jobs.newFeed.banner == undefined) && feed.$submitted">Banner is mandatory</div>	
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-3 control-label">Starts At <span
											class="text-danger">*</span></label>
										<div class="col-sm-6">
											<input type="number" class="form-control" title="starts at"
												placeholder="" ng-model="jobs.newFeed.startsAt" >
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-3 control-label">Exact Field
											Position <span class="text-danger">*</span>
										</label>
										<div class="col-sm-6">
											<input type="number" class="form-control" title= "Enter Exact fields"
												placeholder="" ng-model="jobs.newFeed.exactFieldPosition" ng-class="(jobs.newFeed.exactFieldPosition =='' || jobs.newFeed.exactFieldPosition == undefined) && feed.$submitted ? 'border-danger' : ''">
											<div class="text-danger text-bold help-block with-errors" ng-show="(jobs.newFeed.exactFieldPosition =='' || jobs.newFeed.exactFieldPosition == undefined) && feed.$submitted">Exact field position is mandatory</div>	
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-3 control-label">Status <span
											class="text-danger">*</span></label>
										<div class="col-sm-6">
											<select class="form-control"
												ng-model="jobs.newFeed.feedSchedulerStatus" ng-class="(jobs.newFeed.feedSchedulerStatus =='' || jobs.newFeed.feedSchedulerStatus== undefined) && feed.$submitted ? 'border-danger' : ''"> 
												<option ng-repeat="data in jobs.statuses" value="{{data}}">{{data}}</option>
											</select>
											<div class="text-danger text-bold help-block with-errors" ng-show="(jobs.newFeed.feedSchedulerStatus =='' || jobs.newFeed.feedSchedulerStatus== undefined) && feed.$submitted">Status is mandatory</div>
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-3 control-label">Begins With
											Blank <span class="text-danger">*</span>
										</label>
										<div class="col-sm-6">
											<select class="form-control" title="Select begins eith blank detail"
												ng-model="jobs.newFeed.begingsWithBlank" ng-class="(jobs.newFeed.begingsWithBlank =='' || jobs.newFeed.begingsWithBlank == undefined) && feed.$submitted ? 'border-danger' : ''">
												<option ng-repeat="data in jobs.statuses" value="{{data}}">{{data}}</option>
											</select>
											<div class="text-danger text-bold help-block with-errors" ng-show="(jobs.newFeed.begingsWithBlank =='' || jobs.newFeed.begingsWithBlank == undefined) && feed.$submitted">Begins with blank is mandatory</div>
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-3 control-label">Schedule <span
											class="text-danger">*</span></label>
										<div class="col-sm-6">
											<input type="text" class="form-control" title="Enter Schedule details"
												placeholder="" ng-model="jobs.newFeed.feedScheduler" ng-class="(jobs.newFeed.feedScheduler =='' || jobs.newFeed.feedScheduler == undefined) && feed.$submitted ? 'border-danger' : ''">
											<div class="text-danger text-bold help-block with-errors" ng-show="(jobs.newFeed.feedScheduler =='' || jobs.newFeed.feedScheduler == undefined) && feed.$submitted">Schedule is mandatory</div>	
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default"
								data-dismiss="modal">Close</button>
							<button type="submit"
								class="btn btn-dark waves-effect waves-light">Schedule
								Feed</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>