<div class="content-wrapper">

	<div class="row page-header d-flex justify-content-between">
		<div class="col-sm-12">
			<div id="page-head">
				<h4 class="page-title text-overflow">Configuration</h4>
			</div>
		</div>
	</div>
	<div class="card">
		<div class="card-body" style="padding: 10px; margin-top: 20px">
			<header
				style="margin-left: 10px; border-bottom: 1px solid; margin-bottom: 20px; font-weight: 600">Integrations</header>
			<div class="col-md-12 row">
				<div class="col-md-2" style="margin-bottom: 20px">
					<div class="card">
						<a class="card-body" style="padding: 10px; cursor: pointer;"
							href="/configuration#!/active-directory"> <img width="40" height="40"
							class="d-block img-sm mx-auto mb-2"
							style="font-size: xx-large; text-align: center;"
							src="./../assets/images/menusettings/active-directory.png">
							<p class="text-center user-name" style="font-weight: bolder;">Active
								Directory</p>
						</a>
					</div>
				</div>
				
				<div class="col-md-2" style="margin-bottom: 20px">
					<div class="card">
						<a class="card-body" style="padding: 10px; cursor: pointer;"
							href="/configuration#!/stmp"> <img width="40" height="40"
							class="d-block img-sm mx-auto mb-2"
							style="font-size: xx-large; text-align: center;"
							src="./../assets/images/menusettings/email.png">
							<p class="text-center user-name" style="font-weight: bolder;">SMTP</p>
						</a>
					</div>
				</div>
				
				<div class="col-md-2" style="margin-bottom: 20px">
					<div class="card">
						<a class="card-body" style="padding: 10px; cursor: pointer;"
							href="/configuration#!/jira"> <img width="40" height="40"
							class="d-block img-sm mx-auto mb-2"
							style="font-size: xx-large; text-align: center;"
							src="./../assets/images/menusettings/jira.jpg">
							<p class="text-center user-name" style="font-weight: bolder;">JIRA</p>
						</a>
					</div>
				</div>
				
				<div class="col-md-2" style="margin-bottom: 20px">
					<div class="card">
						<a class="card-body" style="padding: 10px; cursor: pointer;"
							href="/configuration#!/misp"> <img width="40" height="40"
							class="d-block img-sm mx-auto mb-2"
							style="font-size: xx-large; text-align: center;"
							src="./../assets/images/menusettings/threat-intelligence (2).png">
							<p class="text-center user-name" style="font-weight: bolder;">Threat Intelligence</p>
						</a>
					</div>
				</div>
				
			</div>
		</div>
	</div>