
<div ng-controller="slaContoller as controller"
	ng-init="controller.init()" class="content-wrapper">
	<div class="row page-header d-flex justify-content-between">
		<div class="col-sm-8">
			<div id="page-head">
				<h4 class="page-title text-overflow">SLA Policies</h4>
			</div>
		</div>
		<div class="col-sm-4 pull-right">
			 
                            		
			<button ng-click='controller.openNewSlaPolicy()'
				class="btn btn-primary pull-right" title="New SLA Policy" ng-if="showHomeButton">
				<i class=""></i> New SLA Policy
			</button>

			<button ng-if="!showHomeButton"
				class="btn pull-right btn-default"
				ng-click="controller.goBackSLA()">Back To SLA</button>

<!-- 			<button ng-click="controller.deleteMultipleTags()" ng-if="controller.selectedTags.length > 0" class="btn btn-danger pull-right mar-hor">Delete</button> -->
				
			<button id="viewButton" class="btn btn-primary pull-right mar-rgt" ng-click='controller.editSLA(controller.tagsId[0])'>Edit</button> 
            <button id="deleteButton" class="btn btn-danger pull-right mar-rgt"   ng-click='controller.deleteSLA(controller.tagsId[0].id,controller.tagsId[0].slaName)'>Delete</button>
		</div>
	</div>



	<script type="text/ng-template" id="alert.html">
        		<div ng-transclude></div>
  		</script>
	<div uib-alert ng-repeat="alert in controller.conditionMessagesModal"
		class="alert" ng-class="'alert-' + (alert.type || 'warning')"
		close="closeAlert($index)">{{alert.msg}}</div>

	<div ng-include src="templateUrl" onload='myFunction()'></div>

	<script type="text/ng-template" id="viewSlaPolicies.html">

	

		<div class="card">
			<div class="card-body">
			<div id = "slaContent" class="{{theme}}" style="height: 500px;"></div>
			<!--  <table class="table" datatable="ng">
				<thead>
					<tr>
						<th style="width:18px;text-align:center;"><input type="checkbox" id="tagFields" ng-model="controller.selectAll" ng-change="controller.selectAllFunction(controller.selectAll)"></th>
						<th>Policy</th>
						<th>Description</th>
						<th class="text-center">Action</th>
					</tr>
				</thead>


				<tbody>
					<tr ng-repeat="data  in controller.slaDetails">
						<td><input type="checkbox" ng-model="data.checked" ng-change="controller.selectById(data.checked,data.id)"></td>
						<td>{{data.slaName}}</td>
						<td>{{data.slaDescription}}</td>
						<td class="text-center">
									<button href= "javascript:void('0')" class="btn btn-outline-primary" ng-click='controller.editSLA(data)'>Edit</button> &nbsp;
                            		<button  href= "javascript:void('0')" class="btn btn-outline-danger"  ng-click='controller.deleteSLA(data.id,data.slaName)'>Delete</button> &nbsp;
						</td>
					</tr>
				</tbody>
			</table> -->
	</div>
	</div>
</script>

	<script type="text/ng-template" id="createSLA.html">
	<form ng-submit = "saveSla()" name = "slaForm" novalidate="novalidate">
	<div class = "row pad-all">
			<div class="panel panel-table">
					    <div class="panel-body-alt">
							<div class="form-group has-feedback">
					                    <label for="demo-oi-definput" class="control-label text-semibold" >Name *</label>
					                    <input type="text" required="required" ng-model = "controller.slaData.slaName" name="slaName" class="form-control" required="required" pattern="[a-zA-Z0-9\s- _]+" >
					                  	<div class="text-danger" ng-show="(slaForm.$submitted || slaForm.slaName.$touched ) && slaForm.slaName.$error.required">Sla name is mandatory</div>
										<div class="text-danger" ng-show="(slaForm.$submitted || slaForm.slaName.$touched ) && slaForm.slaName.$error.pattern">special characters are not allowed</div>

					           </div>
						</div>
						 
						<div class="form-group has-feedback">
					                    <label for="demo-oi-definput" class="control-label text-semibold">Description *</label>
										<textarea required="required" class = "form-control" ng-model = "controller.slaData.slaDescription" name="slaDescription" required="required"></textarea>
					                  	<div class="text-danger" ng-show="(slaForm.$submitted || slaForm.slaDescription.$touched ) && slaForm.slaDescription.$error.required">Sla Description is mandatory</div>
					    </div>

						<div class="form-group has-feedback">
					                    <label for="demo-oi-definput" class="control-label text-semibold">SLA Targets</label>
										<p class = "text-muted">Set Service Level Targets for each ticket priority</p>
					    </div>

						
						
						<div class="form-group has-feedback">
						
							<table class = "table">
								<thead>
									<tr>
											<th style="width:15%">Priority</th>
											<th style="width:15%">Respond within</th>
											<th style="width:15%">Resolve within</th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat = "data in controller.slaTargets">
										<td>{{data.label}}</td>
										<td>
											<div class="input-group mar-btm col-md-12">
					                        <input type="number" ng-model = "data.respondWithIn" class="form-control" style="height:32px;border-radius:0">
<div>
					                        <div class="input-group-btn dropdown">
					                            <button data-toggle="dropdown" class="btn btn-primary dropdown-toggle" type="button" aria-expanded="false" style="height:32px;border-radius:0">
					                                {{data.respondWithInUnits}}
					                            </button>
					                            <ul class="dropdown-menu" style="width:auto">
					                                <li ng-click ="data.respondWithInUnits = 'Mins'" > <a href = "javascript:void('0')"> Mins</a></li>
					                                <li ng-click ="data.respondWithInUnits = 'Hours'"> <a href = "javascript:void('0')">Hours</a></li>
					                                <li ng-click ="data.respondWithInUnits = 'Days'"> <a href = "javascript:void('0')">Days</a></li>
					                               
					                            </ul>
					                        </div>
					                        </div>
					                    </div>
											
										 </td>
										
										<td>
											<div class="input-group mar-btm col-md-12">
					                        <input type="number" ng-model = "data.resolveWithIn" class="form-control" style="height:32px;border-radius:0">
					                        <div class="input-group-btn dropdown">
					                            <button data-toggle="dropdown" class="btn btn-primary dropdown-toggle" type="button" aria-expanded="false" style="height:32px;border-radius:0">
					                                {{data.resolveWithInUnits}}
					                            </button>
					                            <ul class="dropdown-menu" style="width:auto">
					                               <li ng-click ="data.resolveWithInUnits = 'Mins'" > <a href = "javascript:void('0')"> Mins</a></li>
					                                <li ng-click ="data.resolveWithInUnits = 'Hours'"> <a href = "javascript:void('0')">Hours</a></li>
					                                <li ng-click ="data.resolveWithInUnits = 'Days'"> <a href = "javascript:void('0')">Days</a></li>
					                               
					                            </ul>
					                        </div>
										 </td>
									</tr>
								</tbody>
							</table>
						
						</div>

					<div class="form-group has-feedback">
					                    <label for="demo-oi-definput" class="control-label text-semibold">Apply this to:</label>
										<p class = "text-muted">Choose when this SLA policy must be enforced</p>
					</div>

					<div class="form-group has-feedback">	
				
					                    <label for="demo-oi-definput" class="control-label text-semibold">Alert Category</label>
										<selectize options='controller.allCategories' title="Select Category" config="controller.categoryConfig" ng-model="controller.categories" ></selectize>
					</div>

					<div class="form-group has-feedback">
					                    <label for="demo-oi-definput" class="control-label text-semibold">What happens when this SLA is violated?</label>
										<p class = "text-muted">Set escalation rule when a ticket is not responded to on time</p>
					</div>

					<div class="form-group has-feedback">
							<table class = "table">
								
								<tbody>
										<tr>
												<td style="width:15%"> 	
													<select class = "form-control" ng-model = "controller.responseEsclation.responeTime" required="required">
														<option value = "Immediately">Immediately</option>
														<option value = "After 30 Minutes">After 30 Minutes</option>
														<option value = "After 1 Hour">After 1 Hour</option>
														<option value = "After 2 Hours">After 2 Hours</option>
														<option value = "After 3 Hours">After 3 Hours</option>
														<option value = "After 4 Hours">After 4 Hours</option>

			
													</select>
												</td>
												<td style="width:15%">	
													<selectize options='controller.allUsers' title="Select Users" config="controller.userConfig" ng-model="controller.responseEsclation.emails" ></selectize>
												</td>
										</tr>
			
								</tbody>
							</table>
						
					</div>


					<div class="form-group has-feedback">
					                    
										<p class = "text-muted">Set escalation rule when a ticket is not resloved to on time</p>
					</div>

			<div class="form-group has-feedback">
							<table class = "table">
								
								<tbody>
										<tr>
												<td style="width:15%"> 	
													<select class = "form-control" ng-model = "controller.reslovedEsclation.responeTime" required>
														<option value = "Immediately">Immediately</option>
														<option value = "After 30 Minutes">After 30 Minutes</option>
														<option value = "After 1 Hour">After 1 Hour</option>
														<option value = "After 2 Hours">After 2 Hours</option>
														<option value = "After 2 Hours">After 3 Hours</option>
														<option value = "After 4 Hours">After 4 Hours</option>

			
													</select>
												</td>
												<td style="width:15%">	
													<selectize options='controller.allUsers' title="Select Users" config="controller.userConfig" ng-model="controller.reslovedEsclation.emails" ></selectize>
												</td>
										</tr>
			
								</tbody>
							</table>
						
					</div>



					
					
					
						
			</div>
	</div>
	<div class="panel-footer text-right">
					                        <div class="box-inline">
					                           
					                            <button type="submit" class="next btn btn-success" ng-disabled="slaForm.$invalid">Save</button>
					                            
					                        </div>
					                    </div>

	</form>
		
</script>



</div>
