<div class="row" style=" padding-left: 13px;">
    <div class="col-md-3 card">
      
        <div class="menu-bar">
            <div class="menu-items">

                <div class="profile-userpic">

                  <img src="assets/images/user_profile.png" class="img-responsive">
                </div>

                <div class="profile-usertitle">
                   {{infoData.userContext.displayName}}
                </div>
                <div class="profile-usermenu">
                  {{infoData.userContext.jobTitle}}
                 </div>
                 <div class="profile-usermenu">
                   {{infoData.userContext.department}}
               </div>
            </div>

            


    </div>
    <hr>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label> <strong>Email</strong> </label>
          <p> {{infoData.userContext.email}}</p>
        </div>
  
        <div class="form-group">
          <label><strong>Office</strong> </label>
          <p>Hyderbad</p>
        </div>
  
      </div>

      <div class="col-md-6">
        <div class="form-group">
          <label><strong>Domain</strong></label>
          <p>TMCL</p>
        </div>
    
        <div class="form-group">
          <label><strong>SAM Name</strong></label>
          <p> {{infoData.userContext.fullName}}</p>
        </div>
    
      </div>

    </div>

    
    
   

</div>

  <div class="col-md-8">
    <div class="row">
    <div class="col-md-2 grid-margin stretch-card" ng-click = "showTimeLine('Alerts')">
      <div class="card aligner-wrapper">
        <div class="entity-top-container">
          <div class="absolute left top bottom h-100 v-strock-2 bg-success"></div>
          <p class="mb-2">Security Alerts</p>
          <div class="">
            <h1 class="font-weight-medium mb-2">{{infoData.alerts}}</h1>
            
          </div>
          
        </div>
      </div>
    </div>

    <div class="col-md-2 grid-margin stretch-card" ng-click = "showTimeLine('Events')">
      <div class="card aligner-wrapper">
        <div class="entity-top-container">
          <div class="absolute left top bottom h-100 v-strock-2 bg-success"></div>
          <p class="mb-2">Events</p>
          <div class="">
            <h1 class="font-weight-medium mb-2">{{infoData.events}}</h1>
            
          </div>
          
        </div>
      </div>
    </div>

    <div class="col-md-2 grid-margin stretch-card" ng-click = "showTimeLine('loginEvents')">
      <div class="card aligner-wrapper">
        <div class="entity-top-container" style="text-align: center;">
          <div class="absolute left top bottom h-100 v-strock-2 bg-success"></div>
          <p class="mb-2">Logged on Devices</p>
          <div class="">
            <h1 class="font-weight-medium mb-2">{{infoData.authenticaion}}</h1>

          </div>
          
        </div>
      </div>
    </div>

    <div class="col-md-2 grid-margin stretch-card" ng-click = "showTimeLine('Process')">
      <div class="card aligner-wrapper">
        <div class="entity-top-container" style="text-align: center;">
          <div class="absolute left top bottom h-100 v-strock-2 bg-success"></div>
          <p class="mb-2">Process</p>
          <div class="">
            <h1 class="font-weight-medium mb-2">{{infoData.process}}</h1>
            
          </div>
          
        </div>
      </div>
    </div>

      <div class="col-md-2 grid-margin stretch-card" ng-click = "showTimeLine('Malware')">
        <div class="card aligner-wrapper">
          <div class="entity-top-container" style="text-align: center;">
            <div class="absolute left top bottom h-100 v-strock-2 bg-success"></div>
            <p class="mb-2">Malware</p>
            <div class="">
              <h1 class="font-weight-medium mb-2">{{infoData.malware}}</h1>

            </div>

          </div>
        </div>
      </div>

      <div class="col-md-2 grid-margin stretch-card" ng-click = "showStaticTime('Techniques')">
        <div class="card aligner-wrapper">
          <div class="entity-top-container" style="text-align: center;">
            <div class="absolute left top bottom h-100 v-strock-2 bg-success"></div>
            <p class="mb-2">MITRE Techniques</p>
            <div class="">
              <h1 class="font-weight-medium mb-2">{{infoData.mitreTechniques}}</h1>

            </div>

          </div>
        </div>
      </div>

  </div>
  <div class="row">



    <uib-tabset active="active" style = "width:100%;padding-left:12px">
      <uib-tab index="0" heading="{{viewType}}" >

        <div class="card qa-message-list"  ng-if = "viewType === 'Alerts' ">
          <div class="message-item"  ng-repeat = "data in timeLineData">
            <div class="message-inner {{data.priority}}">
              <div class="message-head clearfix">

                <div class="user-detail">
                  <h5 class="handle">{{data.Date | date:'medium'}}

                    <div class="badge badge-outline-primary pull-right">
                      {{data['alert_status.keyword']}}
                    </div>



                  </h5>
                  <span class="message-header">{{data.name}}
                    <div class="badge badge-outline-primary" ng-if = "$index<4 " ng-repeat = "groups in data['mitre_attacker_group.keyword'].split(',')">
                        {{groups}}
                    </div> | <div class="badge badge-outline-primary" ng-if = "$index<4 " ng-repeat = "groups in data['techniques.keyword'].split(',')">
                        {{groups}}
                    </div>
                  </span>
                  <br/>
                  <span class="description-header">{{data.description}}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card qa-message-list"  ng-if = "viewType === 'Events' ">
          <div class="message-item" ng-repeat = "data in timeLineData">
            <div class="message-inner {{data.priority}}">
              <div class="message-head clearfix">

                <div class="user-detail">
                  <h5 class="handle">{{data.Date | date:'medium'}}</h5>
                <span class="message-header">{{data.name}} </span>
                  <br/>
                  <span class="description-header">{{data.description}}</span>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="card qa-message-list"  ng-if = "viewType === 'loginEvents' ">
          <div class="message-item" ng-repeat = "data in timeLineData">
            <div class="message-inner {{data.priority}}">
              <div class="message-head clearfix">

                <div class="user-detail">
                  <h5 class="handle">{{data.Date | date:'medium'}}</h5>
                  <span class="message-header">Logged on to <a href="javascript:void('0')" class="btn-link">{{data.name}}</a> from <a href="javascript:void('0')" class="btn-link">{{data.source_ip}}</a></span>

                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="card qa-message-list"  ng-if = "viewType === 'Process' ">
          <div class="message-item" ng-repeat = "data in timeLineData">
            <div class="message-inner {{data.priority}}">
              <div class="message-head clearfix">

                <div class="user-detail">
                  <h5 class="handle">{{data.Date | date:'medium'}}
                  </h5>
                  <span class="message-header">{{data.command_line}} was executed by <a href="javascript:void('0')">{{data.user_name}}</a> on <a href="javascript:void('0')">{{data.log_source_device_name}}</a></span>
                  <br/>

                  <span class="description-header"><strong>Parent Image</strong> : {{data.parent_image}} | <strong>Parent Command Line</strong> : {{data.parent_command_line}} | <strong>MD Hash </strong> : {{data.md5_hash}} </span>
                </div>
              </div>
            </div>
        </div>
        </div>

        <div class="card qa-message-list"  ng-if = "viewType === 'Techniques' ">
          <div class="message-item" ng-repeat = "data in threatActorData">
            <div class="message-inner {{data.priority}}">
              <div class="message-head clearfix">

                <div class="user-detail">
                  <h5 class="handle">{{data.Date | date:'medium'}}

                    <div class="badge badge-outline-primary pull-right">
                      {{data['alert_status.keyword']}}
                    </div>



                  </h5>
                  <span class="message-header">{{data.name}}
                    <div class="badge badge-outline-primary" ng-if = "$index<4 " ng-repeat = "groups in data['mitre_attacker_group.keyword'].split(',')">
                        {{groups}}
                    </div> | <div class="badge badge-outline-primary" ng-if = "$index<4 " ng-repeat = "groups in data['techniques.keyword'].split(',')">
                        {{groups}}
                    </div>
                  </span>
                  <br/>
                  <span class="description-header">{{data.description}}</span>
                </div>
              </div>
            </div>
          </div>
        </div>

      </uib-tab>

      <uib-tab index="1" select="showEventTable()" heading="Context" >

        <div id="contextTable" style="height: 400px; width: 100%;"  class="{{theme}}">
        </div>

      </uib-tab>

      <uib-tab index="2"  heading="RelationShips" >

       <div class="row" style="padding-left:12px;padding-top:12px">

         <div class="col-md-9">

           <div class="badge badge-primary" style="margin-left:12px" ng-repeat = "data in graphFields  track by $index "> {{data}} <i class="ti-trash" ng-click = "removeFieldFromGraph($index)"></i></div>


         </div>


         <div class="col-md-2">

         <div class="dropdown">
           <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Add Fields </button>
           <div class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
             <input type="text" class="form-control" ng-model = "fieldSearch">
             <a class="dropdown-item"  ng-click = "addFieldToGraph(data.fieldName)" href="javascript:void('0')" ng-repeat = "data in logFields | orderBy:'fieldName' | filter:fieldSearch">{{data.fieldName}}</a>


           </div>
         </div>
       </div>

         <div class="col-md-1">

            <button type = "button" class="btn btn-primary" ng-click = "showGraphRelation()">Run</button>

         </div>

       </div>

        <hr/>

        <div id="networkGraph" style="height: 1000px; width: 100%;"  class="card">

        </div>

      </uib-tab>

    </uib-tabset>
  </div>
  </div>
</div>