<!--
  ~ /*
  ~  * Licensed to OBELUS under one or more contributor
  ~  * license agreements. See the NOTICE file distributed with
  ~  * this work for additional information regarding copyright
  ~  * ownership.you may
  ~  * not use this file except in compliance with the License.
  ~  * You may obtain a copy of the License at
  ~  *
  ~
  ~  *
  ~  * Unless required by applicable law or agreed to in writing,
  ~  * software distributed under the License is distributed on an
  ~  * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  ~  * KIND, either express or implied.  See the License for the
  ~  * specific language governing permissions and limitations
  ~  * under the License.
  ~  */
  -->

<div ng-controller="aclController as controller" ng-init="controller.init()" class="content-wrapper">

    <div class="row page-header d-flex justify-content-between">
        <div class="col-sm-6">
            <div id="page-head">
                <h4 class="page-title text-overflow">ACL</h4>
            </div>
        </div>
        <div class="col-sm-6 pull-right" style="">
            <button ng-click='openACL()' ng-if = "!canShow"  class="btn btn-primary pull-right" title="Create ACL">ACL</button>

        </div>
    </div>

    <script type="text/ng-template" id="alert.html">
        <div ng-transclude></div>
    </script>
    <div uib-alert ng-repeat="alert in controller.conditionMessagesModal"
         class="alert" ng-class="'alert-' + (alert.type || 'warning')"
         close="closeAlert($index)">{{alert.msg}}</div>


    <div ng-include src="templateUrl"></div>




</div>