<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>SiEM</title>

	<!-- Global stylesheets -->
	<link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
	<link href="assets/css/icons/icomoon/styles.css" rel="stylesheet" type="text/css">
	<link href="assets/css/bootstrap.css" rel="stylesheet" type="text/css">
	<link href="assets/css/core.css" rel="stylesheet" type="text/css">
	<link href="assets/css/components.css" rel="stylesheet" type="text/css">
	<link href="assets/css/colors.css" rel="stylesheet" type="text/css">
	<link href="assets/css/logCollection.css" rel="stylesheet" type="text/css">
	<link href="assets/css/logOnboarding.css" rel="stylesheet" type="text/css">
	<!-- /global stylesheets -->

	<!-- Core JS files -->
	<script type="text/javascript" src="assets/js/plugins/loaders/pace.min.js"></script>
	<script type="text/javascript" src="assets/js/core/libraries/jquery.min.js"></script>
	<script type="text/javascript" src="assets/js/core/libraries/bootstrap.min.js"></script>
	<script type="text/javascript" src="assets/js/plugins/loaders/blockui.min.js"></script>
	<script type="text/javascript" src="assets/js/plugins/ui/nicescroll.min.js"></script>
	<script type="text/javascript" src="assets/js/plugins/ui/drilldown.js"></script>
	<!-- /core JS files -->

	<!-- Theme JS files -->
	<script type="text/javascript" src="assets/js/plugins/visualization/d3/d3.min.js"></script>
	<script type="text/javascript" src="assets/js/plugins/visualization/d3/d3_tooltip.js"></script>
	<script type="text/javascript" src="assets/js/plugins/forms/styling/switchery.min.js"></script>
	<script type="text/javascript" src="assets/js/plugins/forms/styling/uniform.min.js"></script>
	<script type="text/javascript" src="assets/js/plugins/forms/selects/bootstrap_multiselect.js"></script>
	<script type="text/javascript" src="assets/js/plugins/ui/moment/moment.min.js"></script>
	<script type="text/javascript" src="assets/js/plugins/pickers/daterangepicker.js"></script>

	<script type="text/javascript" src="assets/js/core/app.js"></script>
	
	<!-- /theme JS files -->

<script type="text/javascript"
	src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.4/sockjs.js"></script>
<script type="text/javascript"
	src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.js"></script>
	<script type="text/javascript" src="js/angular.js"></script>
	
	<script type="text/javascript" src="js/angular-stomp.js"></script>
	<script type="text/javascript" src="https://l-lin.github.io/angular-datatables/archives/dist/angular-datatables.min.js"></script>
		<script src="assets/js/plugins/tables/datatables/datatables.min.js"></script>

	<script type="text/javascript" src="js/angular-route.js"></script>
	<script src="js/angular-resource.min.js"></script>
	<script type="text/javascript" src="js/ngStorage.js"> </script>
	<script type="text/javascript" src="js/d3.js"></script> 
	<script type="text/javascript" src="js/nv.d3.js"></script> 
	<script type="text/javascript" src="js/angular-nvd3.js"></script>
	<script src="js/angular-animate.js"></script>
	<script src="js/angular-sanitize.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.5/angular-cookies.min.js"></script>
	<script type="text/javascript"
	src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.0.0/ui-bootstrap-tpls.min.js"></script>
	<script type="text/javascript" src="https://vitalets.github.io/checklist-model/checklist-model.js"></script>
	<script type="text/javascript" src="js/datetimepicker.js"></script>
	<script type="text/javascript" src="js/datetimepicker.templates.js"></script>
	<script type="text/javascript" src="js/angular-recursion.js"></script>
	<script type="text/javascript" src="js/dateTimeInput.js"></script>
	<script type="text/javascript" src="js/angular-dropdown-multiselect.js"></script>
	<script type="text/javascript" src="js/angular-elastic-builder.js"></script>
	<script type="text/javascript" src="js/select.js"></script>
	<script type="text/javascript" src="js/app.js"></script>
	<script type="text/javascript" src="js/router.js"></script>

	<script type="text/javascript" src="js/BodyController.js"></script>
	<script type="text/javascript" src="js/auth-factory.js"> </script>
	<script type="text/javascript" src="js/router.js"> </script>
	<script type="text/javascript" src="js/kibana-factory.js"> </script>
	<script type="text/javascript" src="js/kibana.js"> </script>
	<script type="text/javascript" src="js/settings-factory.js"> </script>
	<script type="text/javascript" src="js/settings.js"> </script>

	<script type="text/javascript" src="js/permission-directive.js"> </script>
    <script type="text/javascript" src="js/navigation-contoller.js"> </script>
    <script type="text/javascript" src="js/livetrail-factory.js"> </script>
    <script type="text/javascript" src="js/livetail-controller.js"> </script>
   	<script  type="text/javascript" src="js/jquery.newsTicker.js"></script>
   	<script type="text/javascript" src="js/logShipper_controllers.js"></script>
   	<script type="text/javascript" src="js/plan-settings-factory.js"></script>
   	<script type="text/javascript" src="js/plan-settings.js"></script>
   	
	<script type="text/javascript" src="js/alertDashboardFactory.js"></script>
	<script type="text/javascript" src="js/alertDashboardController.js"></script>
	
	<script type="text/javascript" src="js/alertsfactory.js"></script>
	<script type="text/javascript" src="js/alerts.js"></script>
	
	<script type="text/javascript" src="js/CorrelationFactory.js"></script>
	<script type="text/javascript" src="js/correlation.js"></script>
	
	<script type="text/javascript" src="js/Conditionfactory.js"></script>
	<script type="text/javascript" src="js/conditioncontroller.js"></script>
	
	<script type="text/javascript" src="js/colorController.js"></script>
	<script type="text/javascript" src="js/colorFactory.js"></script>
	
	<script type="text/javascript" src="js/condition-category-factory.js"></script>
	<script type="text/javascript" src="js/condition-category-controller.js"></script>
	
	
	<script type="text/javascript" src="js/rule-controller.js"></script>

	<script type="text/javascript" src="js/incidents-controller.js"></script>
	

	
	<script src="js/grokdebuggerController.js"></script>
	<script src="js/grokdebuggerFactory.js"></script>
	<script src="js/logsOnboardingController.js"></script>
	
	<script type="text/javascript" src="js/alertdashboardController.js"></script>
	<script type="text/javascript" src="js/dashboardController.js"></script>
	<script type="text/javascript" src="js/logstatsdashboardController.js"></script>
	<script type="text/javascript" src="js/dashboardFactory.js"></script>
	<script type="text/javascript" src="lib/raphael-2.1.4.min.js"></script>
	<script type="text/javascript" src="lib/justgage.js"></script>
	
	<script type="text/javascript" src="js/collection-controller.js"></script>
	<script type="text/javascript" src="js/collection-factory.js"></script>
	<script type="text/javascript" src="js/FusionCharts/FusionCharts.js"></script>
	<script type="text/javascript" src="js/chart.min.js"></script>
	<script type="text/javascript" src="js/angular-chart.js"></script>
	<script type="text/javascript" src="js/usercontroller.js"></script>
	
	
		
	<style type="text/css">
	
	.table-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #f5f5f5;
}
	
	</style>

</head>
<body ng-app="siem">

<div class="page-container">

		<!-- Page content -->
		<div class="page-content">

			<!-- Main content -->
			<div class="content-wrapper" ng-controller="settings as ctrl">

	

		<div class="text-center">
			<a href="index.html" class="logo-lg"><i class="md md-equalizer"></i>
				<span>SiEM</span> </a>
		</div>

		<script type="text/ng-template" id="alert.html">
    				<div ng-transclude></div>
  			</script>


		<form class="form-horizontal" role="form"
			ng-submit="changePasswordAfterLogin()" name="alertsForm"
			style="width: 200%">

			<div uib-alert ng-repeat="alert in ctrl.alertMessagaes" class="alert"
				ng-class="'alert-' + (alert.type || 'warning')"
				close="closeAlert($index)">{{alert.msg}}</div>


			<div class="row">
				<div class="col-md-6">
					<div class="col-md-12">
						<div class="form-group">
							<label for="field-1" class="control-label">Current
								Password</label> <input type="password" ng-model="userSettings.password"
								class="form-control" id="field-1" required="required">
						</div>
					</div>
					<div class="col-md-12">
						<div class="form-group">
							<label for="field-2" class="control-label">New Password</label> <input
								type="password" ng-model="userSettings.newPassword"
								class="form-control" id="field-2" required="required">
						</div>
					</div>


					<div class="col-md-12">
						<div class="form-group">
							<label for="field-3" class="control-label">Confirm
								Password</label> <input type="password"
								ng-model="userSettings.confirmPassword" class="form-control"
								id="field-3" required="required">
						</div>
					</div>

				</div>

				<div class="col-md-6">
					<ul>
						<li>Minimum 8 characters</li>
						<li>Maximum 32 characters</li>
						<li>Lowercase letter (a-z)</li>
						<li>Uppercase letter (A-Z)</li>
						<li>Number (0-9)</li>
						<li>Special characters</li>
						<li>Both passwords match</li>

					</ul>
				</div>

			</div>


			<div class="modal-footer">

				<button type="submit" class="btn btn-info waves-effect waves-light">Save
					changes</button>
			</div>

		</form>
	</div>

</div></div>

	<script>
		var resizefunc = [];
	</script>

	

</body>
</html>