
<div class="row col-md-12">
	<div class="col-md-4">
		<input list="elasticFieldsId" class="form-control row col-md-12"
			name="elasticFieldsId" data-ng-model="rule.field"
			autocomplete="false">
		<datalist id="elasticFieldsId">
			<select class="form-control " size="5">
				<option ng-repeat="(key,value) in elasticFields " value="{{key}}">{{key}}</option>
			</select>
		</datalist>
	</div>
	<div class="col-md-4">
		<span data-elastic-type="getType()" data-rule="rule"
			data-guide="elasticFields[rule.field]"></span>
	</div>
	<div class="col-md-4">
		<a class="btn btn-xs btn-danger remover" data-ng-click="onRemove()">
			<i class="fa fa-minus"></i>
		</a>
	</div>
</div>


