<!-- <div class="col-xs-12 col-md-12"> -->
<!--     Nav tabs -->
<!--     <ul class="nav nav-tabs nav-tabs-basic">'tabs-right' for right tabs -->
<!--         <li class="nav-item active"><a class="nav-link active" href="javascript:void('0')" data-target="#ext" data-toggle="tab">Ext</a></li> -->
<!--     </ul> -->
<!-- </div> -->
<div class="col-xs-12 col-md-12">
    <!-- Tab panes -->
    <div class="tab-content" style="padding-top: 2%">
<!--         <div class="tab-pane active" id="ext"> -->
            <form class="form-horizontal">
                <div class="row">
                    <div class="form-group col-md-4">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" ng-model="curWidget.config.option.hasSuffix" ng-init="curWidget.config.option.hasSuffix=true">Has Suffix
                            </label>
                        </div>
                    </div>
                </div>
            </form>
<!--         </div> -->
    </div>
</div>