<!-- <div class="col-xs-12 col-md-12"> -->
    <!-- Nav tabs -->
<!--     <ul class="nav nav-tabs nav-tabs-basic">'tabs-right' for right tabs -->
<!--         <li class=" nav-item"><a class="nav-link active" data-target="#legend" data-toggle="tab">Legend</a></li> -->
<!--         <li class="nav-item active"><a class="nav-link active" href="javascript:void('0');" data-target="#ext" data-toggle="tab">Ext</a></li> -->
<!--     </ul> -->
<!-- </div> -->
<div class="col-xs-9 col-md-10">
    <!-- Tab panes -->
    <div class="tab-content">
<!--         <div class="tab-pane active" id="ext"> -->
            <div class="row" style="padding-top: 2%">
                <div class="form-group col-md-12 row">
                    <label class="col-md-2 control-label">Value Orient</label>
                    <div class="col-md-5">
                        <select class="form-control" ng-model="curWidget.config.valueAxis"
                                ng-init="curWidget.config.valueAxis ? null : curWidget.config.valueAxis='vertical'">
                            <option value="horizontal">horizontal</option>
                            <option value="vertical">vertical</option>
                        </select>
                    </div>
                </div>
            </div>
<!--         </div> -->
    </div>
</div>