<!-- <div class="col-xs-3 col-md-2"> -->
<!--     Nav tabs -->
<!--     <ul class="nav nav-tabs nav-tabs-basic">'tabs-right' for right tabs -->
<!--         <li class="nav-item active"><a class="nav-link active" href="javascript:void('0')" data-target="#ext" data-toggle="tab">Ext</a></li> -->
<!--     </ul> -->
<!-- </div> -->
<div class="col-xs-9 col-md-10">
    <!-- Tab panes -->
    <div class="tab-content" style="padding-top:2%">
<!--         <div class="tab-pane active" id="ext"> -->
            <form class="form-horizontal">
                <div class="form-group row">
                    <label class="col-md-1 control-label">Style</label>
                    <div class="col-md-5">
                        <select class="form-control" ng-model="curWidget.config.values[0].style"
                                ng-options="s.value as s.name for s in heatmap_styles"></select>
                    </div>
                </div>
                
                <ng-include src="'templates/chart/options/common/categoryAxis.html'"></ng-include>
            </form>
<!--         </div> -->
    </div>
</div>


