<!-- <div class="col-xs-12 col-md-12"> -->
<!-- 	<!-- Nav tabs --> 
<!-- 	<ul class="nav nav-tabs nav-tabs-basic"> -->
<!-- 		<!-- 'tabs-right' for right tabs --> 
<!-- 		<li class="nav-item active"><a class="nav-link active" href="javascript:void('0');" data-toggle="tab">Ext</a></li> -->
<!-- 	</ul> -->
<!-- </div> -->
<div class="col-xs-12 col-md-12" style="padding-top:2%">
	<!-- Tab panes -->
	<div class="tab-content">
<!-- 		<div class="tab-pane active" id="ext"> -->
			<form class="form-horizontal">
				<div class="row">
					<div class="form-group row col-md-12">
						<label class="col-sm-3 control-label">Label</label>
						<div class="col-sm-9">
							<input type="text" ng-model="curWidget.config.values[0].name"
								class="form-control" />
						</div>
					</div>
				</div>
				<div class="row">
					<div class="form-group row col-md-12">
						<label class="col-sm-3 control-label">Formatter</label>
						<div class="col-sm-9">
							<input type="text" ng-model="curWidget.config.values[0].format"
								class="form-control" /> <span class="help-block">Example: &nbsp;&nbsp;'0,0.00'
								'0.00' '0%' '0.00%' ,<a href="http://numbrojs.com/format.html"
								target="_blank">More</a>
							</span>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="form-group row col-md-12">
						<label class="col-sm-3 control-label">Style</label>
						<div class="col-sm-9">
							<select class="form-control"
								ng-model="curWidget.config.values[0].style"
								ng-options="s.value as s.name for s in kpi_styles"></select>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="form-group row col-md-12">

						<label class="col-sm-3 control-label">Required Rate Of
							change</label>

						<div class="col-sm-9">
							<select class="form-control	"
								ng-model="curWidget.config.option.rateOfChange">

								<option value="yes">yes</option>
								<option value="no">no</option>

							</select>

						</div>
					</div>

				</div>
			</form>
<!-- 		</div> -->
	</div>
</div>


