<!-- <div class="col-xs-12 col-md-12"> -->
<!--     Nav tabs -->
<!--     <ul class="nav nav-tabs nav-tabs-basic">'tabs-right' for right tabs -->
<!--         <li class="nav-item"><a class="nav-link active" href="javascript:void('0')" data-target="#ext" data-toggle="tab">Ext</a></li> -->
<!--     </ul> -->
<!-- </div> -->
<div class="col-xs-12 col-md-12">
    <!-- Tab panes -->
    <div class="tab-content">
<!--         <div class="tab-pane active" id="ext"> -->
            <form class="form-horizontal" style="padding-top: 2%">
                <div class="form-group row">
                    <label class="col-sm-1 control-label">Max Value</label>
                    <div class="col-sm-5">
                        <input type="number" ng-model="curWidget.config.values[0].maxValue" ng-value="100.0" placeholder="default value is 100" class="form-control" />
                    </div>
                </div>
            </form>
<!--         </div> -->
    </div>
</div>