<div class="col-xs-12 col-md-12">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs nav-tabs-basic"><!-- 'tabs-right' for right tabs -->
        <li class="nav-item active"><a class="nav-link active" href="javascript:void('0')" data-target="#legend" data-toggle="tab">Legend</a></li>
        <li class="nav-item"><a class="nav-link" href="javascript:void('0')" data-target="#ext" data-toggle="tab">Ext</a></li>
    </ul>
</div>
<div class="col-xs-12 col-md-12" >
    <!-- Tab panes -->
    <div class="tab-content">
        <div class="tab-pane active" id="legend">
            <ng-include src="'templates/chart/options/common/legend.html'"></ng-include>
        </div>
        <div class="tab-pane" id="ext">
            <div class="row col-md-12" style="padding-top: 2%;">
                <div class="form-group row col-md-12">
                    <label class="col-md-2 control-label">Draw By</label>
                    <div class="col-md-5">
                        <select class="form-control" ng-model="curWidget.config.drawBy"
                                ng-init="curWidget.config.drawBy ? null : curWidget.config.drawBy='column'">
                            <option value="column">Column</option>
                            <option value="row">Row</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>